.jumbotron h1 {
  text-align: center;
}
.col-md-12 {
  width: 50%;
  text-align: left;
  margin-left: 25%;
}
#calc-btn {
  width: 50%;
  text-align:center;
  margin-left: 25%;
}

#num2Div {
  display: none;
}
#disp {
  width: 50%;
  text-align:center;
  margin-left: 25%;
}

.graphic #myCanvas {
  margin-left: -50%;
  margin-top: 25%;
}
